body{
    display: flex;
    background-color: #bbb;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    margin: 0;
}
.header{
    width: 100%;
    background-color: #007bff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: white;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}